#d3-content .node {
    cursor: pointer;
}

#d3-content .node circle {
    stroke: #3182bd;
    stroke-width: 1.5px;
}

#d3-content .node text {
    font: 10pt sans-serif;
}

#d3-content .link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 2px;
}

#d3-content marker {
    fill: #3182bd;
}
