html, body {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    font-family: sans-serif;
}

#top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #222;
    color: #bbb;
}

header h1, footer h1 {
    margin: 12px 0;
}

header p, footer p {
    margin: 10px 0;
}

header ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
}

header ul li, footer ul li {
    display: inline;
}

header a, footer a {
    color: inherit;
    text-decoration: underline;
}

header a:hover, footer a:hover {
    color: inherit;
    text-decoration: none;
}

section {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.page-main, .section-main, .container-content-main {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-content {
    border: 1px solid #444;
    border-radius: 5px;
    margin: 5px;
    position: relative;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.centered {
    text-align: center;
}
